.speech {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    color: black;
}

.direction {
    font-family: 'Courier New', sans-serif;
    font-size: 14px; 
    color: black;
    background-color: lightgray; 
    transition: background-color 0.3s, color 0.3s; 
}

.direction:hover {
    background-color: blanchedalmond; 
    color: darkred;
}

.name {
    font-weight: bolder;
} 

.phi {
    color: chartreuse;
}

.od {
    color: chocolate;
}

.neo {
    color: midnightblue;
}

table {
    border-color: black;
    width: 50%;
    text-align: center;
    padding: 12px;
    margin: 12px;
}

.col {
    background-color: chartreuse;
}

th {
    border: 1px solid;
    border-radius: 5px;
    border-color: darksalmon;
    color: maroon;
    height: 50px;
}

td {
    border: 1px solid;
    border-radius: 5px;
    border-color: darkorange;
    height: 50px;
}

tr:hover {
    background-color: yellow;
    border: 2px solid black; 
}

.phi:hover {
    font-size: medium;
    color: hotpink;
    text-shadow: 0 0 10px rgb(194, 120, 30);
    border-style: dotted;
    border-radius: 6px;
}

.od:hover {
    font-size: medium;
    color: olivedrab;
    text-shadow: 0 0 10px rgb(160, 156, 156);
    border-style: dotted ;
    border-radius: 6px;
}

.neo:hover {
    font-size: medium;
    color: cornflowerblue;
    text-shadow: 0 0 10px rgb(176, 88, 25);
    border-style: dotted ;
    border-radius: 6px;
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar-horizontal li {
    float: left;
    color: limegreen;
    background-color: deeppink;
}

ul.navbar-horizontal a {
    display: block;
    padding: 8px;
}

ul.navbar-horizontal a:hover {
    background-color: cornsilk;
    color: purple;
}