.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: "Times New Roman", serif;
    font-size: 14px;
    color: black;
    background-color: #f0f0f0;
    padding: 5px;
}

.direction:hover {
    background-color: #d3d3d3;
    color: #333333;
}
.phi {
    color: blue;
}

.neo {
    color: green;
}

.od {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightblue;
}