body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: darkblue;
    font-size: 2em;
    text-align: center;
}

h2 {
    color: darkred;
    margin-top: 40px;
}

.name {
    font-weight: bold;
    color: darkgreen;
}

.phi {
    color: green;
}

.neo {
    color: blue;
}

.odysseus {
    color: red;
}


.direction {
    font-style: italic;
    color: gray;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
}


.speech {
    font-size: 16px;
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

th {
    background-color: darkblue;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}